@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

:root {
    --base-color: #ffffff;
    --text-color: #27468a;
    --primary-color: #d4eaff;
    --secondary-color: #e2f3ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Momo Trust Display, 'Courier New', Courier, monospace;
    color: var(--text-color);
}

body {
    background-color: var(--base-color);
    
}

@media (max-width: 768px) {
  body {
    width: fit-content;
  }
  #cover_image {
    display: block;
    width: 42vw;
    height: 30vh;
  }
}

#cover_image {
    padding:10px;
    width:25vw;
    height:auto;
}

header {
    background-color: #ffffff;
    padding: 1.5vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 10vh;
}

.header-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-shrink: 1;
}

.socialsIcons {
    width: 2vh; height: 2vh;
}

#Email {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 80%;
}

.Intro {
    width: 100%;
    min-height: 40vh;
    display: flex;
    background-color: var(--text-color);
    justify-content: center;
    color: #ffffff;
}

.IntroText {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 45%;
    font-size: 2vh;
}

#goals {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 3vh;
    align-items: center;
    background: #ffffff;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(39, 70, 138, 1) 100%);
    list-style-type: none;
}

.window {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: large;
    width: 30vw;
    height: 40vh;
    background-color: #ffffff;
    border-radius: 2vh;
    border: 0.7vh solid #23345a ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    resize: both;
    margin: 2vh;
}

.circle {
      width: 1.2vw; 
      height: 1.2vw; 
      background-color: #a7b7ec;
      border-radius: 50%;
      margin-right: 0.5vw;
    }

.windowhead {
    display: flex;
    height: 10%;
    width: 100%;
    background-color: #6177c0;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    border-bottom: 0.7vh solid #23345a ;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 4vh;
}

.windowcontent {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: var(--text-color);
    font-size: 2vh;
}

.seperator {
    width: 80%;
    height: 3%;
    background-color: #27468a;
    margin: 4vh 10% 4vh 10%;
    border-radius: 2vw;
    font-size: 0.5vh;
} 

#Projects_body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#Projects_head {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding-bottom: 20px;
    background: #ffffff;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(203, 211, 227, 1) 100%);
    border-radius: 15px;
    border-top: 5px solid #7b93c5;
    font-size: 2vh;
}

.WindowsGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#windowCover {
    width: 70%;
    height: auto;
}